.App {
  text-align: center;
  font-size: 18px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.entry {
  width: 50%;
  height: 30vh;
  overflow: auto;
  padding: 40px;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid white;
}

.entry-left {
  margin-bottom: 30px;
}

.entry-bottom {
  height: 0;
}

.db-refactoring {
  width: 50%;
  /*height: 30vh;*/
  overflow: auto;
  padding: 40px;
  border: 1px solid white;
}

.db-refactoring-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.db-refactor-child:not(:last-child) {
  margin-bottom: 20px;
}

.db-version-input {
  height: 20px;
}

.db-checkbox {
  margin-right: 20px;
}

.db-submit {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all .2s ease;
}

.db-submit:hover {
  color: white;
  background: black;
}


.db-refactoring label {
  margin-right: 10px;
}

.log-config {
  margin: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.log-config-flags {
  display: flex;
  flex-flow: row wrap;
}

.log-config label {
  margin-bottom: 20px;
}

.log-config span {
  margin-right: 10px;
}
